

.background-image {
    background-image: url('./../assets/floor_plan.png'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85%; /* Adjust the height as needed */
    width: 85%; /* Adjust the width as needed */
    position: relative;
    flex: auto;
}

.container {
    width: 900px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image button {
    border: solid black;
    border-radius: 50px;
    position: absolute;
}

.bed-label1 {
    top: 265px;
    left: 645px;
}
.bed-label2 {
    top: 330px;
    left: 645px;
}
.bed-label3 {
    top: 395px;
    left: 645px;
}
.bed-label4 {
    top: 460px;
    left: 645px;
}
.bed-label5 {
    top: 525px;
    left: 645px;
}
.bed-label6 {
    top: 590px;
    left: 645px;
}
.bed-label7 {
    top: 560px;
    left: 455px;
}
.bed-label8 {
    top: 560px;
    left: 350px;
}
.bed-label9 {
    top: 560px;
    left: 245px;
}
.bed-label10 {
    top: 590px;
    left: 53px;
}
.bed-label11 {
    top: 525px;
    left: 53px;
}
.bed-label12 {
    top: 460px;
    left: 53px;
}
.bed-label13 {
    top: 395px;
    left: 53px;
}
.bed-label14 {
    top: 330px;
    left: 53px;
}
.bed-label15 {
    top: 265px;
    left: 53px;
}
.bed-label16 {
    top: 95px;
    left: 40px;
}
.bed-label17 {
    top: 95px;
    left: 145px;
}
.bed-label18 {
    top: 95px;
    left: 250px;
}
.bed-label19 {
    top: 95px;
    left: 370px;
}
.bed-label20 {
    top: 45px;
    left: 475px;
}
.bed-label21 {
    top: 45px;
    left: 575px;
}

.legend {
    position: absolute;
}

#white {
    top: 300px;
    left: 290px;
}

#red {
    background-color: red;
    top: 365px;
    left: 315px;
}

#yellow {
    background-color: yellow;
    top: 430px;
    left: 295px
}

.popup {
    position: fixed; /* Fixed position */
    top: 0; /* Full-screen from the top */
    left: 0; /* Full-screen from the left */
    width: 100%; /* Full-screen width */
    height: 100%; /* Full-screen height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensures it's on top of other content */
    display: flex; /* Enables centering of the popup content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* The popup itself */
.popup-content {
    background-color: white; /* White background */
    padding: 20px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow */
    width: 50%; /* Or whatever width you prefer */
    max-width: 500px; /* Maximum width */
    z-index: 1001; /* Ensures it's above the overlay */
}

/* The 'close' button in the popup */
.close {
    float: right; /* Position it to the right */
    font-size: 1.5rem; /* Make it a bit larger */
    font-weight: bold; /* Make it bold */
    cursor: pointer; /* Change cursor to indicate clickable */
}